
# Rust Compiled Binaries
target/
protoc_dir/
protoc*.zip

# Python Environment
.venv/
venv/
env/
.env

# Python Cache
__pycache__/
*.pyc

# Certificates
*.pem
*.crt
*.key
*.csr

*.log

*.zip

.claude
CLAUDE.md
TASK.md
IDEA.md
